.b-header {
    width: 100%;
    height: 50px;
    display: flex;
}

.b-header__logo {
    width: 230px;
    height: 50px;
    background: url(/images/logo.png);
    background-repeat: no-repeat;
}

.b-header__search {
    width: 630px;
    height: 50px;
    padding: 10px 10px;
}

.b-header__search-input {
    padding: 6px 10px;
}

.b-header__search-button {
    padding: 6px 30px;
    margin-left: -2px;
}
